<div class="register-box">
    <form #Register="ngForm" (ngSubmit)="onRegister()">
        <h2>Register</h2>
       <div class="form-group" >
            <input class="form-control"
                type="text"
                pInputText
                name="FullName"
                required
                [(ngModel)]="User.FullName"
                #FullNameField="ngModel"
            >
           @if(FullNameField.invalid  &&  (FullNameField.touched || FullNameField.dirty) )
           {
                <small class="error">Full Name is required.</small>
           }






       </div>

       
        <button type="submit"> Register</button>
        <button (click)="change()" value="login">Login</button>
    </form>

</div>